[alias]
	# Command shortcuts
        aa = add --all
	ci = commit
	co = checkout
	st = status
	br = branch

        # List available aliases
	aliases = !git config --get-regexp alias | sed -re 's/alias\\.(\\S*)\\s(.*)$/\\1 = \\2/g'

	# Display tree-like log, because default log is a pain…
	logs  = log --oneline
	logv  = log --graph --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	logvv = log --graph --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset' --date=format-local:'%a %Y-%m-%d %H:%M:%S'
[core]
	excludesFile = ~/.gitignore
